.footer-bottoms {
    background-color: rgba(224, 224, 224, 0.3);
    padding: 2rem 0;
}

.footer-bottoms ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}
.footer-bottoms ul li:after {
    content: "|";
    padding-left: 1rem;
}
.footer-bottoms ul li:last-child:after {
    display: none;
}
.footer-bottoms ul li a {
    display: inline-block;
    padding: 0.5rem 0;
    text-decoration: none;
    color: var(--charcoal);
    position: relative;
}

.footer-bottoms ul li a:before {
    content: "";
    position: absolute;
    bottom: 0.2rem;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--yellow);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}
.footer-bottoms ul li a:hover {
    color: var(--yellow);
}
.footer-bottoms ul li a:hover:before {
    transform: scaleX(1);
    transform-origin: left;
}
