footer {
    background-color: var(--light-color);
    font-size: var(--body-font-size-xs);
}

footer .footer > div {
    margin: auto;
}

footer .footer p {
    margin: 0;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}
.footer-logo-wrapper {
    background-color: #003366;
    padding: 2rem 1rem;
}

@media (width >= 900px) {
    footer .footer > div {
    }
}
