.footer-topbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 70px;
}

.footer-topbar-right {
  display: flex;
  align-items: center;
}

.footer-topbar-social {
  display: flex;
  gap: 10px;
}

.social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 600;
}

.footer-topbar-btn {
  border: none;
  padding: 10px 20px;
  border-radius: 14px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-topbar-btn-icon {
  width: 24px;
  height: 24px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}
