.footer-topbar {
  background: #06356b;
  padding: 15px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 80px;
}

.footer-topbar-left img.footer-logo {
  height: 45px;
}

.footer-topbar-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* Social icons list */
.footer-social-icons {
  display: flex;
  gap: 15px;
}

/* Single social icon */
.footer-social-icon {
  width: 38px;
  height: 38px;
  background: #87a2bd;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  text-decoration: none;
  font-weight: bold;
}

.footer-social-icon:hover {
  background: #9fb9d4;
}

/* Yellow Button */
.footer-topbar-btn {
  background: #fbb040;
  border: none;
  padding: 10px 25px;
  border-radius: 14px;
  font-size: 16px;
  font-weight: 600;
  color: black;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 12px;
}

/* Small black + icon */
.footer-topbar-btn-icon {
  background: black;
  color: white;
  width: 24px;
  height: 24px;
  font-size: 16px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Responsive */
@media (max-width: 800px) {
  .footer-topbar {
    flex-direction: column;
    gap: 20px;
    padding: 20px;
  }
}
