.footer-topbar {
  background: #003366;
  padding: 25px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo {
  height: 42px;
}

.footer-topbar-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer-social-icons {
  display: flex;
  gap: 15px;
}

.footer-social-icon {
  width: 30px;
  height: 30px;
  background: rgba(255,255,255,0.2);
  padding: 5px;
  border-radius: 8px;
}

.footer-topbar-btn {
  background: #f7b340;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-btn-icon {
  background: #000;
  color: white;
  width: 22px;
  height: 22px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}
