.inner-hero {
    background: url(../../icons/banner-pattern.svg) no-repeat top right
        var(--blue);
    color: var(--white);
    position: relative;
    height: 100px;
    padding: 0 0 28%;
    overflow: hidden;
    font-size: 1rem;
}
.inner-hero-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.inner-hero-img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: var(--black);
}
.inner-hero-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.5;
}

.inner-hero h3 em {
    font-family: var(--font-secondary);
    font-weight: 300;
}
.inner-hero h2 {
    font-weight: 300;
    margin: 0 0 1.5rem;
}
