/*!* blocks/hero-banner/styles.css *!*/
/*.nn-hero--wrapper {*/
/*    position: relative;*/
/*    overflow: hidden;*/
/*    min-height: 320px;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    color: var(--nn-hero-text-color, #fff);*/
/*    background-color: var(--nn-hero-bg, #111);*/
/*}*/

/*.nn-hero__media {*/
/*    position: absolute;*/
/*    inset: 0;*/
/*    z-index: 0;*/
/*    display: block;*/
/*}*/

/*.nn-hero__bg img,*/
/*.nn-hero__video {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    object-fit: cover;*/
/*    display: block;*/
/*}*/

/*.nn-hero__container {*/
/*    position: relative;*/
/*    z-index: 2;*/
/*    width: 100%;*/
/*    max-width: 1200px;*/
/*    padding: 2rem;*/
/*    box-sizing: border-box;*/
/*}*/

/*.nn-hero__content { text-align: left; }*/

/*.nn-hero__heading {*/
/*    font-size: clamp(1.6rem, 3.8vw, 3rem);*/
/*    margin: 0 0 0.5rem 0;*/
/*    line-height: 1.05;*/
/*}*/

/*.nn-hero__subheading {*/
/*    margin: 0;*/
/*    font-size: clamp(1rem, 1.6vw, 1.25rem);*/
/*    opacity: 0.95;*/
/*}*/
