.inner-banner {
    background: url(../../icons/banner-pattern.svg) no-repeat right top
        var(--blue);
    color: var(--white);
    padding: 0 0 30%;
    height: 100px;
    position: relative;
}
.inner-banner-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: var(--black);
}
.inner-banner-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    opacity: 0.5;
}
.inner-banner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.inner-banner-overlay p {
    font-size: var(--fs-large);
}
.inner-banner-overlay h1 {
    font-weight: var(--fw-medium);
}
