.social-links a {
    display: inline-flex;
    width: 44px;
    height: 44px;
    border-radius: 0.875rem;
    background-color: rgba(224, 224, 224, 0.3);
    justify-content: center;
    align-items: center;
}
.group-btn .btn:after {
    content: "";
    width: 24px;
    height: 24px;
    border-radius: 0.4rem;
    background: url(../../icons/plus-icon.svg) no-repeat center var(--black);
}

.blank-section {
    background: #f5f5f5;
    transition: max-height 0.35s ease;
    border-radius: 4px;
    margin-top: 10px;
    padding: 0 16px;
}

/* Add some space when expanded */
.blank-section.open {
    padding-top: 12px;
    padding-bottom: 12px;
}
