.listed-companies-container { background: #0066CC; background: linear-gradient(180deg, rgba(0, 102, 204, 1) 0%, rgba(30, 60, 107, 1) 100%); padding:10.938rem 0; margin-top: -4.688rem; position:relative; }
.listed-companies-container:before { position: absolute; content: ''; width: 100%; height: 100%; top:0; left:0; background: url('../../img/listed-bg.svg'); background-repeat: no-repeat; background-size: cover; z-index: 1; }
.listed-companies-wrapper { position: relative; z-index: 2; }
.listed-companies.block { padding: 0 6rem; margin: 0 auto; color: var(--white);}
