.experience-banner-wrapper {
  background: #424242;
  color: white;
  padding: 60px;
  border-radius: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
  margin: auto;
  gap: 40px;
}

.experience-left {
  width: 55%;
}

.exp-title {
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 25px;
}

.exp-description {
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 40px;
}

.exp-button {
  padding: 16px 32px;
  background: #dedede;
  color: #333;
  border-radius: 12px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
}

.experience-right img {
  width: 350px;
  opacity: 0.5;
}
