.footer-links-wrapper {
    padding: 4rem 0;
}
.footer-nav ul {
    margin: 0 0 2rem;
    padding: 0;
    list-style: none;
}
.footer-nav h4 {
    text-transform: uppercase;
    font-weight: var(--fw-medium);
    color: var(--black);
    font-size: 1.125rem;
}
.footer-nav h4 a {
    display: inline-block;
    color: var(--charcoal);
    text-decoration: none;
    position: relative;
    padding: 0.3rem 0;
}
.footer-nav ul li a {
    color: var(--charcoal);
    text-decoration: none;
    display: inline-block;
    padding: 0.3rem 0;
    position: relative;
    font-size: var(--fs-small);
}

.footer-nav ul li a:after,
.footer-nav h4 a:after {
    content: "";
    background: url(../../icons/arrow-right-black.svg) no-repeat center;
    background-size: 100%;
    width: 5px;
    height: 12px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -1rem;
    transition-duration: 0.3s;
}

.footer-nav ul li a:before,
.footer-nav h4 a:before {
    content: "";
    position: absolute;
    bottom: 0.2rem;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--yellow);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}
.footer-nav ul li a:hover,
.footer-nav h4 a:hover {
    color: var(--yellow);
}
.footer-nav ul li a:hover:before,
.footer-nav h4 a:hover:before {
    transform: scaleX(1);
    transform-origin: left;
}
.footer-nav ul li a:hover:after,
.footer-nav h4 a:hover:after {
    right: -0.7rem;
    background: url(../../icons/arrow-right-yellow.svg) no-repeat center;
    background-size: 100%;
}
