/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");

/* @media (width >= 900px) {
    main > .section > div {
        padding: 0 32px;
    }
} */
:root {
    /* colors */
    --blue: #003366;
    --red: #ff0000;
    --yellow: #faa519;
    --turquoise: #00abc5;
    --royal-blue: #305fab;
    --orange: #f68b1e;
    --green: #2e8b57;
    --light-grey: #e0e0e0;
    --white: #ffffff;
    --black: #000000;
    --charcoal: #333333;

    /* fonts */
    --font-primary: "Red Hat Display", sans-serif;
    --font-secondary: "Merriweather", serif;
    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semi-bold: 600;
    --fw-bold: 700;
    --fw-bolder: 900;
    /* font size */
    --fs-xs: 0.75rem;
    --fs-small: 0.875rem;
    --fs-regular: 1rem;
    --fs-medium: 1.25rem;
    --fs-large: 1.5rem;
    --fs-xl: 2rem;
    --fs-xxl: 3rem;
}

body {
    font-family: var(--font-primary);
    font-size: 0.875rem;
    color: var(--charcoal);
}
img {
    max-width: 100%;
    height: auto;
}
a,
button,
input[type="submit"] {
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    transition: all ease 0.3s;
}
a,
.btn-link {
    color: var(--blue);
}
a:hover,
a:focus {
    color: var(--black);
}
a:hover,
a:focus,
button,
.btn {
    text-decoration: none;
    outline: 0 !important;
    outline-offset: 0px !important;
}
label {
    font-weight: normal;
}
iframe {
    width: 100% !important;
}
sub,
sup {
    font-size: 50%;
}
.row-gap {
    margin: 0 -5px;
}
.row-gap [class*="col-"],
.row-gap .col {
    padding: 0 5px;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}
.h1,
h1 {
    font-size: 3.5rem;
}
.h2,
h2 {
    font-size: 3rem;
}
.h3,
h3 {
    font-size: 2rem;
}
.h4,
h4 {
    font-size: 1.5rem;
}
.h5,
h5 {
    font-size: 1rem;
}
hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-color: #eee;
}

.bg-blue,
.bg-primary {
    background-color: var(--blue) !important;
}
.bg-red {
    background-color: var(--red) !important;
}
.bg-yellow,
.bg-secondary {
    background-color: var(--yellow) !important;
}
.bg-turquoise {
    background-color: var(--turquoise) !important;
}
.bg-royal-blue {
    background-color: var(--royal-blue) !important;
}
.bg-orange {
    background-color: var(--orange) !important;
}
.bg-green {
    background-color: var(--green) !important;
}
.bg-light-grey {
    background-color: var(--light-grey) !important;
}
.bg-white {
    background-color: var(--white) !important;
}
.bg-black {
    background-color: var(--black) !important;
}
.bg-charcoal {
    background-color: var(--charcoal) !important;
}

.text-blue,
.text-primary {
    color: var(--blue) !important;
}
.text-red {
    color: var(--red) !important;
}
.text-yellow,
.text-secondary {
    color: var(--yellow) !important;
}
.text-turquoise {
    color: var(--turquoise) !important;
}
.text-royal-blue {
    color: var(--royal-blue) !important;
}
.text-orange {
    color: var(--orange) !important;
}
.text-green {
    color: var(--green) !important;
}
.text-light-grey {
    color: var(--light-grey) !important;
}
.text-white {
    color: var(--white) !important;
}
.text-black {
    color: var(--black) !important;
}
.text-charcoal {
    color: var(--charcoal) !important;
}
.w-20 {
    max-width: 20% !important;
}

.btn {
    height: 44px;
    display: inline-flex;
    align-items: center;
    padding: 0 1rem;
    border-radius: 0.875rem;
    font-weight: var(--fw-semi-bold);
    gap: 0.5rem;
}
.btn-primary {
    background-color: var(--yellow);
    border-color: var(--yellow);
    color: var(--black);
}
.btn-primary:hover,
.btn-primary:focus {
    background-color: var(--orange);
    border-color: var(--orange);
    color: var(--black);
}
