.careerImg{border-radius:.5rem;overflow:hidden;margin-bottom:1.5rem}
.careerImg:last-child{margin-bottom:0}
.cardContent{background:url('../../img/careerbg.svg') no-repeat center;background-size:100%;border-radius:.5rem;overflow:hidden;padding:2.875rem 4rem;color:var(--white)}
.cardContent h3{font-size:2.5rem;font-weight:400;line-height:3.75rem;margin-bottom:1.625rem}
.cardContent p{font-size:1.5rem;font-weight:400;margin-bottom:0}
.careerImg.picthree{height:27.188rem}
.careerImg.picthree img{width:100%;height:100%;object-fit:cover;object-position:top center;display:block}
.careerImg img{width:100%}
@media (max-width:767px){
.careerImg.picone{display:none}
.careerImg.picthree{height:auto}
.cardContent{margin:1.625rem 0;background-size:cover;padding:1.625rem}
}