.careerImg{border-radius:8px;overflow:hidden;margin-bottom:24px}
.careerImg:last-child{margin-bottom:0}
.cardContent{background:url('../../img/careerbg.svg');background-repeat:no-repeat;background-size:100%;background-position:center;border-radius:8px;overflow:hidden;padding:46px 64px;color:var(--white)}
.cardContent h3{font-size:40px;font-weight:400;line-height:60px;margin-bottom:26px}
.cardContent p{font-size:24px;font-weight:400;margin-bottom:0}
.careerImg.picthree{height:435px}
.careerImg.picthree img{width:100%;height:100%;object-fit:cover;object-position:top center;display:block}
@media (max-width:767px){
.careerImg.picone{display:none}
.careerImg.picthree{height:auto}
.careerImg img{width: 100%;}
.cardContent{margin:26px 0;background-size:cover;padding:26px}
}